#madre {
    background-color: green;
    width:800px;
    height: 320px;
    padding-top: 60px;
    position: absolute;
    left: 300px;
    top: 40px;
    
}
.hijo {
    border: 3px solid white;
    width: 750px;
    height: 280px;
    margin: 5px;
    position: absolute;
    left:18px;
    top:40px;
}
.nieto {
    border: 2px sol white;
    width: 20px
    height:30px;
}